@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: 'SuisseMono';
  src: url('/fonts/SuisseIntlMono-Regular.otf') format('otf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CoterieSuisse';
  src: url('/fonts/CoterieSuisse-Regular-WebXL.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CoterieSuisse';
  src: url('/fonts/CoterieSuisse-Medium-WebXL.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CoterieSuisse';
  src: url('/fonts/CoterieSuisse-Semibold-WebXL.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CoterieSuisse';
  src: url('/fonts/CoterieSuisse-Light-WebXL.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

body {
  font-family:
    'CoterieSuisse',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    sans-serif;
}

:root {
  background-color: white;
}

h1 {
}

h2 {
  font-family:
    'CoterieSuisse',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    sans-serif;
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: -0.88px;
}

h3 {
  font-family:
    'CoterieSuisse',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    sans-serif;
  font-size: 38px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 41.8px */
  letter-spacing: -0.76px;
}

h4 {
  font-family:
    'CoterieSuisse',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 30.8px */
  letter-spacing: -0.56px;
}

h5 {
  font-family:
    'CoterieSuisse',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: -0.44px;
}

th {
  font-weight: 400;
}

.mono {
  font-family: 'SuisseMono', monospace;
}

@media (min-width: 768px) {
  h3 {
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 61.6px */
    letter-spacing: -1.12px;
  }
  h4 {
    font-family:
      'CoterieSuisse',
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      sans-serif;
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 46.2px */
    letter-spacing: -0.84px;
  }
}
